<template>
  <div>
  <b-nav vertical class="w-25">
    <b-nav-item active><router-link to='/products'>สินค้า</router-link></b-nav-item>
    <b-nav-item><router-link to='/customers'>ลูกค้า</router-link></b-nav-item>
    <b-nav-item><router-link to='/users'>ผู้ใช้งานระบบ</router-link></b-nav-item>

  </b-nav>
</div>
</template>
